/**
 * Clients section styles
**/

.clients {

  .flex-row {
    align-items: center;
    flex-direction: row;
    margin-bottom: 80px;
    margin-top: 30px;
  }

  .clients-slider-arrow-left { background-image: url('../img/svg/left-arrow-gradiented.svg'); }

  .clients-slider-arrow-right { background-image: url('../img/svg/right-arrow-gradiented.svg'); }

  .clients-slider-arrow {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    margin-bottom: 20px;
  }

  .slick-dots {
    list-style: none;
    text-align: center;

    li {
      display: inline;
      margin: 0 10px;

      > button {
        @include border-radius(8px);
        background: $white;
        border: 1px solid darken($white, 30);
        color: rgba($white, 0);
        height: 8px;
        outline: none;
        padding: 0;
        width: 8px;
      }

      &.slick-active > button { border: 1px solid; }

    }

    li:nth-of-type(odd).slick-active > button { background: $violet; }

    li:nth-of-type(even).slick-active > button { background: $pinky; }

  }

}

.clients-slider {

  .client {
    align-items: center;
    display: flex;
    min-height: 200px;
    outline: none;

    .client-separator {
      background: $silver;
      float: right;
      height: 60%;
      position: absolute;
      top: 20%;
      width: 1px;
    }

  }

  .client:nth-of-type(odd) .client-separator { background-color: $pinky; }
  .client:nth-of-type(even) .client-separator { background-color: $violet; }

  .client:not(.slick-active) > .client-separator { display: none; }

  img {
    margin: 0 auto;
  }

}
