/**
 * Call-to-action section styles
**/

.random-cta {
  font-family: $font-family;

  .rcta-heading {
    font-size: 34px;
    font-variant: small-caps;
    font-weight: 900;
  }

  .rcta-text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .flex-row {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

}
